<aside class="h-full overflow-hidden bg-slate-50 border-r border-gray-200">
  
  <!-- Header -->
  <div class="flex flex-row justify-center border-b border-gray-200 h-16 gap-4" >
    <img src="/logo_seguranca_operacional_sem_escrita.png" alt="SafeCheck" class="h-auto mb-2 w-14"/>
    <div class="flex flex-col">
      <h1 class="text-lg font-bold text-gray-900">SafeCheck</h1>
      <span class="text-sm text-gray-500">Segurança Operacional</span>
    </div>
    
  </div>

  <!-- Menu -->
  <nav class="p-4">
    <ul class="space-y-2">
      
      <li class="cursor-pointer">
        <a
          routerLink="/"
          routerLinkActive="bg-sky-100 text-sky-700"
          class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-100 transition-colors"
        >
          <span>Dashboard</span>
        </a>
      </li>

      <li class="cursor-pointer">
        <a
          routerLink="/funcionarios"
          routerLinkActive="bg-emerald-100 text-emerald-700"
          class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-100 transition-colors"
        >
          <span>Funcionários</span>
        </a>
      </li>

      <li class="cursor-pointer">
        <a
          routerLink="/maquinas"
          class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-100 transition-colors"
        >
          <span>Máquinas</span>
        </a>
      </li>

      <li class="cursor-pointer">
        <a
          routerLink="/checklist"
          class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-100 transition-colors"
        >
          <span>Checklist</span>
        </a>
      </li>

    </ul>
  </nav>
</aside>
