<div class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
  <div class="w-full max-w-xl bg-white rounded-xl shadow-lg p-8 border border-gray-300">
    <app-form-funcionario
      [formTitle]="isEditMode ? 'Editar Funcionário' : 'Novo Funcionário'"
      [formDescription]="isEditMode ? 'Atualize as informações do funcionário' : 'Preencha os dados para criar um novo funcionário'"
      [canChangeStatus]="isEditMode"
      [selectedUser]="selectedUser"
      (onSave)="onSaveSubmit($event)"
      (onCancel)="onCancelSubmit()"
    ></app-form-funcionario>
  </div>
</div>
