<table class="w-full text-left border-collapse font-sans">
  <thead>
    <tr class="border-b text-gray-500">
      <th class="py-2">Nome</th>
      <th>Código</th>
      <th>Tipo</th>
      <th>Status</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let maquina of maquinasFiltradas" class="border-b hover:bg-gray-50">
      <td class="py-3">{{ maquina.nome }}</td>
      <td>
        <span class="bg-gray-100 px-2 py-1 rounded text-sm">
          {{ maquina.codigo }}
        </span>
      </td>
      <td>{{ maquina.tipo }}</td>
      <td>
        <span
          class="px-3 py-1 rounded-full text-sm"
          [ngClass]="{
            'bg-green-100 text-green-700': maquina.status === 'OPERACIONAL',
            'bg-orange-100 text-orange-700': maquina.status === 'MANUTENCAO',
            'bg-red-200 text-red-700': maquina.status === 'DESATIVADA'
          }">
          {{ maquina.status }}
        </span>
      </td>
      <td class="flex justify-center gap-2 py-2">
        <button class="border rounded p-2 hover:bg-gray-100">
          <fa-icon [icon]="faPenToSquare"></fa-icon> </button>
        <button
          (click)="excluir.emit(maquina.id)"
          class="border rounded p-2 hover:bg-red-100">
          <fa-icon [icon]="faTrashCan"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
